asgiref==3.5.2
astroid==2.12.13
boto3==1.26.16
botocore==1.29.16
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
dj-database-url==1.0.0
Django==3.2.16
django-environ==0.9.0
django-forms-bootstrap==3.1.0
django-storages==1.13.1
filelock==3.8.0
gunicorn==20.1.0
idna==3.4
importlib-metadata==5.1.0
isort==5.10.1
jmespath==1.0.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
Pillow==9.3.0
platformdirs==2.5.2
psycopg2==2.9.5
pycodestyle==2.10.0
pylint==2.15.6
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
stripe==5.0.0
tomli==2.0.1
tomlkit==0.11.6
typed-ast==1.5.4
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.16.5
wrapt==1.14.1
zipp==3.11.0
