astroid==2.12.13
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
filelock==3.8.0
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
platformdirs==2.5.2
pycodestyle==2.10.0
pylint==2.15.6
tomli==2.0.1
tomlkit==0.11.6
virtualenv==20.16.5
wrapt==1.14.1
