{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
Registration
{% endblock page_title %}

{% block page_heading %}
User Registration
{% endblock page_heading %}

{% block content %}
<p>If you have already registered, please login in <a href="{% url 'login' %}">here</a></p>
<form method="POST">
    {% csrf_token %}
    {{ registration_form | as_bootstrap}} <!-- .as_p render this a paragraph -->
    <button type="submit" class="btn btn-default">Register</button>
</form>
{% endblock content %}